* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Sometype Mono", monospace;
}

html,
body {
  height: 100%;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.clear {
  clear: both;
}

header {
  width: 100%;
  height: 90vh;
  padding: 40px 2%;
  /*max-height: 700px;*/
  background-size: cover;
  background-position: center;
  background-image: url(../imagens/background.png);
}

header nav {
  float: right;
}

nav.mobile-menu {
  cursor: pointer;
  display: none;
  width: 32px;
  height: 32px;
  background-image: url("../imagens/menu.png");
  background-size: 100% 100%;
}

nav.mobile-menu:hover ul {
  display: block;
}

nav.mobile-menu ul {
  display: none;
  background-color: #982bee;
  position: absolute;
  width: 100%;
  left: 0;
  top: 70px;
  color: black;
  list-style-type: none;
  text-align: center;
}

nav.mobile-menu ul li {
  padding: 8px 0;
  border-bottom: 1px solid black;
}

nav.mobile-menu ul li:hover {
  background-color: rgb(230, 230, 230);
}

nav.mobile-menu ul li a {
  color: black;
  text-decoration: none;
}

header .logo {
  float: left;
  width: 150px;
  height: 133px;
  margin-top: -15px;
  background-image: url(../imagens/logo-tp.png);
  animation: animar 1.5s linear infinite;
}

header nav.desktop-menu ul {
  list-style-type: none;
}

header nav.desktop-menu li {
  float: left;
  padding: 0 20px;
}

header li a {
  text-decoration: none;
  color: white;
}

.chamada1 {
  max-width: 600px;
  float: right;
  margin: 140px 150px;
}

.chamada1 h1 {
  font-size: 40px;
  color: white;
  font-weight: normal;
}

.chamada1 p {
  font-size: 15px;
  color: white;
  margin-top: 10px;
}

section.secao1 {
  width: 100%;
  background-color: #472562;
  padding: 0 2%;
  height: 400px;
}

section.secao1 .container {
  width: 1000px;
}

.texto-secao1 {
  float: left;
  width: 50%;
  color: white;
  margin-top: 40px;
}

.texto-secao1 h1 {
  font-size: 29px;
  font-weight: 300;
}

.texto-secao1 p {
  margin-top: 20px;
  font-size: 16px;
}

.texto-secao1 ul {
  list-style-position: outside;
  padding-left: 30px;
}

.texto-secao1 ul li {
  float: left;
  width: 100%;
  margin-top: 8px;
}

.btn1-texto {
  background-color: #ff703d;
  width: 165px;
  height: 44px;
  font-size: 15px;
  color: white;
  cursor: pointer;
  text-align: center;
  line-height: 44px;
  border-radius: 30px;
  margin: 30px auto;
}

.device-secao1 {
  float: left;
  width: 50%;
  position: relative;
  top: -30px;
  height: 430px;
  background-image: url("../imagens/meio-telefone.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.secao2 {
  padding-top: 80px 2%;
  background-color: #df009333;
  text-align: center;
}

.secao2 h2 {
  color: #472663;
  font-weight: 300;
}

.secao2 p {
  margin-top: 30px;
  max-width: 900px;
  display: inline-block;
}

.secao2 img {
  position: relative;
  top: 50px;
  width: 50%;
  margin-top: 40px;
}

.secao3 {
  width: 100%;
}

.part1 {
  color: white;
  float: left;
  width: 50%;
  padding: 140px 0 90px 0;
  background: #472562;
}

/*.wraper-part1 {
    max-width: 400px;
    float: right;
}*/

.part1 h2 {
  text-align: center;
  font-weight: 300;
  font-style: italic;
  font-size: 23px;
}

.part2 {
  float: left;
  width: 50%;
  background: white;
}

.sobre-autor {
  float: left;
  max-width: 600px;
  padding-left: 30px;
}

.titulo-autor {
  float: left;
  width: 100%;
}

.wraper-titulo-autor {
  float: left;
}

.titulo-autor h2 {
  color: #232323;
  font-weight: 400;
  font-size: 21px;
  padding-right: 20px;
  margin-top: 25%;
}

.titulo-autor p {
  font-size: 13px;
  color: #232323;
  font-style: italic;
  font-weight: 300;
}

.texto-autor {
  float: left;
  width: 100%;
  margin-top: 10px;
}

.texto-autor p {
  color: #232323;
  font-size: 15px;
}

.secao3 div.part2 div.sobre-autor div.titulo-autor div.img-autor img {
  float: right;
  margin-right: 65%;
  width: 40px;
  height: 40px;
  position: relative;
  top: -36px;
  border-radius: 20px;
}

section.contato {
  padding: 40px 0;
  text-align: center;
  background-color: #f9cce9;
}

section.contato h1 {
  font-size: 50px;
}

section.contato form {
  width: 100%;
  position: relative;
  left: 20%;
}

.contato input[type="text"],
.contato input[type="email"] {
  width: 100%;
  height: 50px;
  margin: 20px 0;
  border-radius: 10px;
  background: #fcfdff;
  border: 1px solid #c3cce8;
  padding-left: 10px;
}

.contato textarea {
  width: 100%;
  height: 120px;
  margin: 20px 0;
  border-radius: 10px;
  background: #fcfdff;
  border: 1px solid #c3cce8;
  padding: 10px;
  resize: vertical;
}

.contato input[type="submit"] {
  width: 100%;
  height: 50px;
  display: block;
  cursor: pointer;
  border: 0;
  background: #ff703d 0% 0% no-repeat padding-box;
  border-radius: 10px;
  color: white;
  font-size: 18px;
}

footer {
  padding: 10px 0;
  background: #7431aab2;
}

footer .center .items-menu a {
  color: white;
}
footer .contact-btn {
  color: white;
}
footer .items-menu {
  text-align: center;
  margin-top: 10px;
}

.text-footer {
  width: 50%;
  padding: 8px 0;
}

@media screen and (max-width: 768px) {
  header {
    width: 100%;
    height: auto;
    min-height: 90vh;
    padding: 40px 2%;
  }

  nav.desktop-menu {
    display: none;
  }

  nav.mobile-menu {
    display: block;
  }

  .chamada1 {
    max-width: none;
    width: 100%;
    text-align: center;
    float: none;
    margin: 100px 0;
  }

  .chamada1 h1 {
    font-size: 30px;
    color: white;
    font-weight: normal;
  }

  .chamada1 p {
    font-size: 15px;
    color: white;
    margin-top: 10px;
  }

  section.secao1 {
    padding: 40px 2%;
    height: auto;
    text-align: center;
  }

  .texto-secao1 {
    width: 100%;
    margin-top: 0;
    padding-right: 62%;
    position: static;
    float: none;
    display: inline-block;
  }

  .texto-secao1 ul {
    display: inline-block;
  }

  .texto-secao1 ul li {
    float: none;
    text-align: left;
  }

  .btn1-texto {
    display: inline-block;
  }

  .device-secao1 {
    display: none;
  }

  .secao2 {
    padding-top: 40px;
  }

  .secao2 img {
    width: 360px;
  }
}

@keyframes animar {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
  }
  100% {
  }
}
